<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<div layout:fragment="content" class="container py-5">
    <div class="input-form-background row">
        <div class="input-form col-md-5 mx-auto">
            <h4 style="text-align: center;" class="mb-3">로그인</h4>
            <form th:action="@{/auth/login/process}" method="POST" class="validation-form" novalidate>
                <div style="text-align: center; margin-top: 30px ; margin-bottom: 30px"><img th:src="@{/img/logo.png}"/></div>
                <div class="row2">
                    <div class="col-8 mb-3">
                        <div style="text-align: left">
                            <label style="margin-bottom: 10px; margin-left: 5px;" class="login_info" for="email">이메일</label>
                        </div>
                        <div>
                            <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요!" required>
                            <div class="invalid-feedback">이메일을 입력해주세요.</div>
                        </div>
                    </div>
                </div>
                <div class="row2">
                    <div class="col-8 mb-3">
                        <div style="text-align: left;">
                            <label style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px;" class="login_info" for="password">비밀번호</label>
                        </div>
                        <div>
                            <input type="password" class="form-control" id="password" name="password" minlength="8"
                                   placeholder="비밀번호를 입력해주세요!(8자 이상)"
                                   value="" required>
                            <div class="invalid-feedback">비밀번호를 8자 이상 입력해주세요.</div>
                        </div>
                    </div>
                </div>
                <div th:if="${errorMsg}" class="alert alert-danger text-center p-1 mx-1">
                    <span th:text="${errorMsg}"></span>
                </div>
                <div style="text-align: center;" class="mb-3">
                    <button class="button" style="margin-top: 12px; font-weight: bold; width: 325px;" type="submit">로그인</button>
                </div>
                <div style="font-size: 12px; text-align: center; margin-top: 0px">
                    <a th:href="@{signup}">회원가입</a>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/signup.js}"></script>
</div>
</html>
