<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header" class="border-top py-1">
    <head>
        <title>좋사좋시</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}"/>
        <script>

        </script>
    </head>
    <body>
    <nav class="navbar fixed-top">
        <a th:href="@{/}">
            <div class="navbar_logo">
                <img th:src="@{/img/logo.png}" width="60px"/>
                <b>좋사좋시</b>
            </div>
        </a>

        <ul class="navbar_menu">
            <li><a th:href="@{/party}">파티리스트</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/party/create}">파티생성</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/party/scrap}">스크랩</a></li>
            <li><a th:href="@{/notice}">공지사항</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/party/my}">내 파티</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
            <li sec:authorize="isAnonymous()"><a th:href="@{/auth/login}">로그인</a></li>
        </ul>
        <div sec:authorize="isAnonymous()" class="navbar_menu small" style="margin-right: 5px">
        </div>
        <div sec:authorize="isAuthenticated()" class="navbar_my">
            <a th:href="@{/profile/my_profile}">
                <img th:src="@{/img/profile/1.jpg}" width="60px"/>
            </a>
        </div>
    </nav>
    </body>
</header>
</html>