<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="border-top py-1">
    <head>
        <title>좋사좋시</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
        <script th:src="@{/js/nav.js}" defer></script>
    </head>

    <body>

    <nav class="navbar">

        <div class="navbar_logo">
            <img th:src="@{/img/logo.png}" width="20px"/>
            <a>좋사좋시</a>
        </div>

        <ul class="navbar_menu">
            <li><a>파티현황</a></li>
            <li><a th:href="@{/party/party_form}">파티생성</a></li>
            <li><a>스크랩</a></li>
            <li><a th:href="@{/notice/notice_list}">공지사항</a></li>
            <li><a>내 파티</a></li>
            <li><a th:href="@{/logout}">로그아웃</a></li>
        </ul>

        <div class="navbar_my">
            <img th:src="@{/img/character.png}" width="60px"/>
        </div>

        <a href="" class="navbar_toogleBtn">
            <img th:src="@{/img/bar.png}" width="50px"/>
        </a>

    </nav>
    </body>
</header>
</html>