<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <title>좋사좋시</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">파티현황</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="makeParty">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a th:href="@{/party/party_form}" class="nav-link" href="#">파티생성</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="scrapParty">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">스크랩</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="notice">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a th:href="@{/notice/notice_list}" class="nav-link" href="#">공지사항</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="myParty">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">내 파티</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="logout">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">로그아웃</a>
          </li>
        </ul>
      </div>

      <button class="button" type="submit">프로필 이미지 넣어야 함</button>
    </div>
  </nav>

    <nav th:insert="~{layouts/header :: header}"></nav>
    <th:block layout:fragment="content"></th:block>
    <footer th:insert="~{layouts/footer :: footer}"></footer>

    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.7.0.slim.min.js}"></script>
  </body>
</html>
