<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<body>
<div class="container py-5" layout:fragment="content">
  <div class="input-form-background row">
    <div class="party-list col-md-12 mx-auto">
      <h4 style="text-align: center;" class="mb-3">나의 파티</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="container my-3">
            <h4 style="text-align: center; padding-top: 15px; padding-bottom: 15px; background-color: rgba(193, 176, 239, 0.97); border-radius: 5px; border-width: 3px"
                class="mb-3 border border-2">내가 만든 파티</h4>

            <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px; border-radius: 5px"
                 class="border border-2 border-black">
              <a class="link-opacity-100-hover" href="#">
                <span style="font-weight: bold; padding-top: 10px; padding-left: 15px"></span>
                <hr>
                <div style="padding-left: 15px">
                  <div>
                    <div>
                      <span>작성일 : </span><span></span>
                    </div>
                    <div>
                      <span>장소 : </span><span>경기도 용인시</span>
                    </div>
                    <div>
                      <span>인원수 : </span><span>1명</span>
                    </div>
                    <div style="display: flex; justify-content: right">
                      <span></span>
                    </div>
                    <div style="display: flex; justify-content: right; margin-right: 15px">
                      <span>♡</span>
                    </div>
                  </div>
                </div>
              </a>
              <hr>
              <div style="padding-left: 10px">진행중
                <span style="padding-left: 5px"><button class="button" style="height: 30px">수정</button></span>
              </div>
            </div>

            <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px; border-radius: 5px"
                 class="border border-2 border-black">
              <a class="link-opacity-100-hover" href="#">
                <span style="font-weight: bold; padding-top: 10px; padding-left: 15px"></span>
                <hr>
                <div style="padding-left: 15px">
                  <div>
                    <div>
                      <span>작성일 : </span><span></span>
                    </div>
                    <div>
                      <span>장소 : </span><span>경기도 용인시</span>
                    </div>
                    <div>
                      <span>인원수 : </span><span>1명</span>
                    </div>
                    <div style="display: flex; justify-content: right">
                      <span></span>
                    </div>
                    <div style="display: flex; justify-content: right; margin-right: 15px">
                      <span>♡</span>
                    </div>
                  </div>
                </div>
              </a>
              <hr>
              <div style="padding-left: 10px">진행중
                <span style="padding-left: 5px"><button class="button" style="height: 30px">수정</button></span>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-6">
          <div class="container my-3">
            <h4 style="text-align: center; padding-top: 15px; padding-bottom: 15px; background-color: rgba(193, 176, 239, 0.97); border-radius: 5px; border-width: 3px"
                class="mb-3 border border-2">네가 만든 파티</h4>

            <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px; border-radius: 5px"
                 class="border border-2 border-black">
              <a class="link-opacity-100-hover" href="#">
                <span style="font-weight: bold; padding-top: 10px; padding-left: 15px"></span>
                <hr>
                <div style="padding-left: 15px">
                  <div>
                    <div>
                      <span>작성일 : </span><span></span>
                    </div>
                    <div>
                      <span>장소 : </span><span>경기도 용인시</span>
                    </div>
                    <div>
                      <span>인원수 : </span><span>1명</span>
                    </div>
                    <div style="display: flex; justify-content: right">
                      <span></span>
                    </div>
                    <div style="display: flex; justify-content: right; margin-right: 15px">
                      <span>♡</span>
                    </div>
                  </div>
                </div>
              </a>
              <hr>
              <div style="padding-left: 10px; margin-bottom: 5px" class="text-danger">진행중</div>
            </div>

            <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px; border-radius: 5px"
                 class="border border-2 border-black">
              <a class="link-opacity-100-hover" href="#">
                <span style="font-weight: bold; padding-top: 10px; padding-left: 15px"></span>
                <hr>
                <div style="padding-left: 15px">
                  <div>
                    <div>
                      <span>작성일 : </span><span></span>
                    </div>
                    <div>
                      <span>장소 : </span><span>경기도 용인시</span>
                    </div>
                    <div>
                      <span>인원수 : </span><span>1명</span>
                    </div>
                    <div style="display: flex; justify-content: right">
                      <span></span>
                    </div>
                    <div style="display: flex; justify-content: right; margin-right: 15px">
                      <span>♡</span>
                    </div>
                  </div>
                </div>
              </a>
              <hr>
              <div style="padding-left: 10px; margin-bottom: 5px" class="text-danger">진행중</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>