<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myParty.css}"/>
</head>

<body>
<div class="container py-5" layout:fragment="content">
    <div class="input-form-background row">
        <div class="party-list col-md-12 mx-auto">
            <h4 style="text-align: center;" class="mb-3">나의 파티</h4>
            <div class="row justify-content-center">
                <div th:each="party : ${myPartyList}" class="card mb-3" style="width: 34rem;">
                    <a th:href="@{/party/{partyId}(partyId=${party.partyId})}">
                        <div th:classappend="${!party.isJoined()} ? 'bg-secondary'" class="card-body">
                            <div style="display: flex; justify-content: space-between">
                                <div style="vertical-align: center">
                                    <span style="margin-right: 5px; margin-top: 5px; align-self: flex-end; font-size: 15px;" class="badge rounded-pill"
                                          th:text="${party.category}"></span>
                                </div>
                                <div style="vertical-align: center">
                                    <span th:classappend="${party.ownerEmail == party.email} ? 'text-danger'" th:text="${party.title}" class="card-title" style="font-size: x-large; font-weight: bold"></span>
                                </div>
                                <div style="color: cornflowerblue;">
                                        <span th:text="${party.status.value}"
                                              th:classappend="${party.status.value == '마감'} ? 'status-closed'"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>