<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/party_list.css}"/>
</head>

<body>

<div class="container py-5" layout:fragment="content">
    <div class="input-form-background row">
        <div class="party-list col-md-12 mx-auto">
            <h4 style="text-align: center;" class="mb-3">파티 현황</h4>
            <br>
            <div class="mb-3" style="text-align: center; margin-top: 15px;">
                <form th:action="@{/party/search}" method="get">
                    <input type="text" name="cond" placeholder="파티명으로 검색해보세요!" class="form-control"
                           style="display: inline-block; width: 70%;">
                    <button type="submit" class="button" style="height: 37px; width: 37px">🔍︎</button>
                </form>
            </div>
            <br>
            <form th:action="@{/party/search}" method="get"
                  style="display: flex; justify-content: space-between; margin: 0 7em">
                <div th:each="category : ${categories}">
                    <button th:value="${category}" th:text="${category}" name="category" class="badge rounded-pill"
                            style="background-color: white;
                            border: 2px solid rgb(150,122,241);
                            color:rgb(150,122,241);
                            padding: 5px 10px;
                            font-size: 16px;">
                    </button>
                </div>
            </form>
            <br>
            <div th:each="row : ${#numbers.sequence(0, 3)}" class="row">
                <div th:each="party, iterStat : ${parties}" class="col-md-6"
                     th:if="${iterStat.index >= row * 2} and ${iterStat.index < (row + 1) * 2}">
                    <div th:classappend="${party.status.value == '마감'} ? 'disabled-link'" class="container my-3">
                        <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px; border-radius: 5px"
                             class="border border-2 border-black">
                            <a class="link-opacity-100-hover" th:href="@{/party/{id}(id=${party.id})}">

                                <div style="display: flex; justify-content: space-between">
                                    <span style="font-weight: bold; padding-top: 3px; padding-left: 15px" th:text="${party.title}"></span>
                                    <span style="margin-right: 3px; align-self: flex-end; vertical-align: center" class="badge rounded-pill"
                                          th:text="${party.category}"></span>
                                </div>
                                <hr>
                                <div style="padding-left: 15px">
                                    <div>
                                        <div>
                                            <span>시간 : </span>
                                            <span th:text="${#temporals.format(party.dateTime, 'MM-dd hh:mm')}"></span>
                                        </div>
                                        <div>
                                            <span>장소 : </span><span th:text="${party.place}"></span>
                                        </div>
                                        <div>
                                            <span> 모집 현황 : </span><span th:text="${party.currentPartyMembers}"></span><span> / </span><span th:text="${party.totalPartyMembers}"></span>
                                        </div>
                                        <div style="display: flex; justify-content: right">
                                            <div style="color: cornflowerblue;">
                                                <span th:text="${party.status.value}"
                                                      th:classappend="${party.status.value =='마감'} ? 'status-closed'"></span>
                                            </div>
                                        </div>
                                        <div style="display: flex; justify-content: right; margin-right: 15px">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <ul class="pagination justify-content-center">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a class="page-link" th:href="@{/party?page=__${currentPage}__}">이전</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, totalPages)}" class="page-item"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/party?page=__${i}__}" th:text="${i + 1}"></a>
                    </li>
                    <li th:if="${currentPage + 1 < totalPages}" class="page-item">
                        <a class="page-link" th:href="@{/party?page=__${currentPage+1}__}">다음</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
