<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<div layout:fragment="content" class="container py-5">
    <div class="input-form-background row">
        <div class="input-form col-md-12 mx-auto">

            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                    <img th:src="@{'/img/profile/' + ${detail.getMember.imgNum} + '.jpg'}" width="70px" style="display: inline">
                    <h4 style="display: inline; margin-left: 5px;">
                        <div th:if="${isOwner}" style="color: slategray; font-size: 17px;">파티장</div>
                        <div th:text="${detail.getMember.nickname}"></div>
                    </h4>
                    <img th:src="@{/img/yellow.png}" width="33px" style="margin-left: 5px;">
                </div>
                <div style="justify-content: flex-end">
                    <span class="badge rounded-pill" style="text-align: right; font-size: 18px"><span th:text="${detail.status.value}"></span></span>
                </div>
            </div>
            <div style="display: inline-flex; justify-content: space-between; align-items: center; width: 100%;">
                <div><a style="display: inline">지금까지 완료한 파티 수: </a><span th:text="${detail.joinedPartyCount}"></span></div>
                <div style="justify-content: flex-end">
                    <table class="table table-bordered mx-auto" style="width: fit-content; margin-top: 13px">
                        <tbody style="font-weight: bold">
                        <tr style="font-size: 13px">
                            <td>모집 현황:</td>
                            <td><span th:text="${detail.currentPartyMembers}" style="color: rgba(69,8,232,0.97)"></span>
                            </td>
                            <td>/</td>
                            <td><span th:text="${detail.totalPartyMembers}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: flex; justify-content: start; align-items: center; overflow-x: auto;">
                <div th:each="pm : ${joinedPartyMemberList}" style="white-space: nowrap;">
                    <button style="border: 3px solid #b091ec; border-radius: 45%; height: 60px; background-color: white; margin-right: 3px; overflow: hidden; text-overflow: ellipsis;">
                        <img th:src="@{'/img/profile/' + ${pm.imgNum} + '.jpg'}" width="40px" height="40px;" style="display: inline; border-radius: 50%; vertical-align: center">
                        <span th:text="${pm.nickname}" style="font-size: 14px; margin-left: 5px;"></span>
                    </button>
                </div>
            </div>
            <br><br>

            <div th:if="${isOwner}" th:each="applicant : ${applicants}">
                <div style="text-align: center; padding: 15px; background-color: white; border-radius: 5px; border: 2px solid rgba(193, 176, 239, 0.97); font-size: 17px; font-weight: bold" class="mb-3">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div style="display: none">
                            <span>멤버Id : </span><span th:text="${applicant.memberId}"></span>
                        </div>
                        <div>
                            <span>닉네임 : </span><span th:text="${applicant.nickname}"></span>
                        </div>
                        <div style="display: flex; justify-content: flex-end;">
                            <form th:action="@{/party/{partyId}/join/accept(partyId=${detail.partyId})}" method="post" style="margin-right: 10px;">
                                <input type="hidden" name="targetId" th:value="${applicant.memberId}">
                                <input type="hidden" name="ownerId" th:value="${detail.getMember.id}">
                                <button class="button">수락</button>
                            </form>
                            <form th:action="@{/party/{partyId}/join/deny(partyId=${detail.partyId})}" method="post">
                                <input type="hidden" name="targetId" th:value="${applicant.memberId}">
                                <input type="hidden" name="ownerId" th:value="${detail.getMember.id}">
                                <button class="button">거절</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center; padding-top: 15px; padding-bottom: 15px; background-color: white; border-radius: 5px; border-width: 3px; font-size: 18px;  font-weight:bold;"
                 class="mb-3 border border-2">
                <h3 style="padding-left: 5px; padding-right: 5px;"><strong th:text="${detail.title}"></strong></h3>
                <div style="font-size: 13px; font-weight: normal;">
                    <span th:text="${detail.place}"></span>
                    <span> / </span>
                    <span th:text="${#temporals.format(detail.dateTime, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <hr>
                <div style="font-weight: normal">
                    <div style="display: flex; min-height: 10em; align-items: center; justify-content: center;">
                        <span style="padding-left: 5px; padding-right: 5px;" th:text="${detail.content}"></span>
                    </div>
                    <hr>
                    <div style="display: flex; justify-content: space-between; align-items: center; ">
                        <div style="text-align: left; margin-left: 20px; font-size: 13px; color: #6c757d;">
                            <span>작성일 : </span>
                            <span th:text="${#temporals.format(detail.dateTime, 'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                        <form style="text-align: right; margin-right: 15px;"
                              th:if="${!isOwner && !alreadyPartyJoinApply}"
                              th:action="@{/party/join/{id}(id=${detail.partyId})}" method="post">
                            <button style="width: 85px; height: 35px; font-size: 16px;" class="button" type="submit">파티 신청</button>
                        </form>
                        <div style="text-align: right; margin-right: 15px;" th:if="${isOwner}">
                            <a th:href="@{/party/{partyId}/update(partyId=${detail.partyId})}" style="margin-right: 7px" class="btn button5" type="submit">수정</a>
                            <a th:href="@{/party/{partyId}/delete(partyId=${detail.partyId})}" class="btn button5" type="submit">삭제</a>
                        </div>
                    </div>
                </div>
            </div>

            <form th:action="@{/comments}" method="post" class="row2" style="display: flex; align-items: flex-end;">
                <input type="text" name="comment" class="form-control" id="comment"
                       placeholder="댓글을 입력해주세요." style="flex: 1; font-size: 16px" value="" required>
                <input type="hidden" name="partyId" th:value="${detail.getPartyId()}">
                <button class="button" type="submit" style="font-size: 16px; margin-left: 15px; height: 37px">확인</button>
            </form>

            <br>
            <div th:each="comment : ${comments}" class="mb-3">

                <div style="display: flex; justify-content: space-between">
                    <div style="display: inline">
                        <img th:src="@{'/img/profile/' + ${comment.member.imgNum} + '.jpg'}" width="36px" style="display: inline">
                        <h5 th:text="${comment.member.nickname}" style="display: inline; margin-left: 5px;"></h5>
                        <img th:src="@{/img/red.png}" style="margin-left: 3px; width: 22px; height: 22px">
                        <button class="btn btn-sm" th:id="'action-button-1-' + ${comment.commentsId}"
                                style="color: #949494"
                                th:onclick="'editComment(' + ${comment.commentsId} + ')'">수정
                        </button>
                        <form th:action="@{/comments/{commentsId}/delete(commentsId=${comment.commentsId})}"
                              method="post" style="display: inline;">
                            <input type="hidden" name="partyId" th:value="${detail.partyId}">
                            <button type="submit" class="btn btn-sm px-1" style="color: #949494">삭제</button>
                        </form>
                    </div>
                    <h6 th:text="${#temporals.format(comment.getDateTime(), 'yy/MM/dd(E) HH:mm')}"
                        style="font-size: 15px; color: #6c757d; text-align: right; margin-top: 5px"></h6>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div th:id="'comment-content-container-' + ${comment.commentsId}"
                         style="flex-grow: 1; text-align: left; background-color: #fff; border: 2px rgba(193, 176, 239, 0.97); border-radius: 6px; font-size: 15px; width: 300px; min-height: 30px; height: auto; overflow-y: auto; margin-top: 5px"
                         class="mb-3 border border-2 p-2">
                    <span th:id="'comment-content-' + ${comment.commentsId}" th:text="${comment.content}" th:onclick="'editComment(' + ${comment.commentsId} + ')'"></span>

                        <form th:id="'edit-form-' + ${comment.commentsId}" style="display: none;"
                              th:action="@{/comments/{commentsId}/update(commentsId=${comment.commentsId})}"
                              method="post">
                            <input type="text" name="comment" class="form-control"
                                   th:id="'edit-input-' + ${comment.commentsId}" th:value="${comment.content}" required>
                            <input type="hidden" name="partyId" th:value="${detail.partyId}">
                            <div style="margin-top: 10px; display: flex; justify-content: flex-end;">
                                <button type="submit" class="btn btn-sm" style="color: #949494; margin-right: 5px;">저장
                                </button>
                                <button type="button" class="btn btn-sm cancel-edit-button"
                                        style="color: #949494;" data-comment-id="${comment.commentsId}">취소
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/signup.js}"></script>
    <script>
        function editComment(commentId) {
            const commentContent = document.querySelector(`#comment-content-${commentId}`);
            const editForm = document.querySelector(`#edit-form-${commentId}`);
            const editInput = document.querySelector(`#edit-input-${commentId}`);
            const actionButton1 = document.querySelector(`#action-button-1-${commentId}`);
            const actionButton2 = document.querySelector(`#action-button-2-${commentId}`);

            commentContent.style.display = 'none';
            editForm.style.display = 'block';
            editInput.focus();

            actionButton1.style.display = 'none';
            actionButton2.style.display = 'none';
        }

        function cancelEdit(commentId) {
            const commentContent = document.querySelector(`#comment-content-${commentId}`);
            const editForm = document.querySelector(`#edit-form-${commentId}`);
            const actionButton1 = document.querySelector(`#action-button-1-${commentId}`);
            const actionButton2 = document.querySelector(`#action-button-2-${commentId}`);

            commentContent.style.display = 'block';
            editForm.style.display = 'none';

            actionButton1.style.display = 'inline';
            actionButton2.style.display = 'inline';

            actionButton1.onclick = function () {
                editComment(commentId);
            };
            actionButton1.textContent = "수정";

            actionButton2.textContent = "삭제";
        }
    </script>
</div>
</html>