<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<body>
<div layout:fragment="content" class="container py-5">
    <div class="input-form-backgroud row">
        <div class="party-list col-md-12 mx-auto">
            <h4 style="text-align: center;" class="mb-3">파티 현황</h4>
            <div style="display: flex">
                <div class="container my-3">
                    <h4 style="text-align: center; padding-top: 15px; padding-bottom: 15px; background-color: #9966FF;" class="mb-3 border border-2 border-black">택시 파티</h4>
                    <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px" class="border border-2 border-black">
                        <a class="link-opacity-100-hover" href="#">
                            <p>- 제목</p>
                            <div style="padding-left: 15px">
                                <span>날짜</span>
                                <span>인원 수</span>
                                <span>장소</span>
                                <span>스크랩</span>
                            </div>
                        </a>
                    </div>

                    <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px" class="border border-2 border-black">
                        <a class="link-opacity-100-hover" href="#">
                            <p>- 제목</p>
                            <div style="padding-left: 15px">
                                <span>날짜</span>
                                <span>인원 수</span>
                                <span>장소</span>
                                <span>스크랩</span>
                            </div>
                        </a>
                    </div>

                    <div style="text-align: center">
                        <button style="margin-top: 10px" class="button" type="button" href="#">더 보기</button>
                    </div>
                </div>
                <div class="container my-3">
                    <h4 style="text-align: center; padding-top: 15px; padding-bottom: 15px" class="mb-3 border border-2 border-black">택시 파티</h4>
                    <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px" class="border border-2 border-black">
                        <a class="link-opacity-100-hover" href="#">
                            <p>- 제목</p>
                            <div style="padding-left: 15px">
                                <span>날짜</span>
                                <span>인원 수</span>
                                <span>장소</span>
                                <span>스크랩</span>
                            </div>
                        </a>
                    </div>

                    <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px" class="border border-2 border-black">
                        <a class="link-opacity-100-hover" href="#">
                            <p>- 제목</p>
                            <div style="padding-left: 15px">
                                <span>날짜</span>
                                <span>인원 수</span>
                                <span>장소</span>
                                <span>스크랩</span>
                            </div>
                        </a>
                    </div>

                    <div style="text-align: center">
                        <button style="margin-top: 10px" class="button" type="button" href="#">더 보기</button>
                    </div>
                </div>
            </div>
            <div style="display: flex">
                <div class="container my-3">
                    <h4 style="text-align: center; padding-top: 15px; padding-bottom: 15px" class="mb-3 border border-2 border-black">택시 파티</h4>
                    <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px" class="border border-2 border-black">
                        <a class="link-opacity-100-hover" href="#">
                            <p>- 제목</p>
                            <div style="padding-left: 15px">
                                <span>날짜</span>
                                <span>인원 수</span>
                                <span>장소</span>
                                <span>스크랩</span>
                            </div>
                        </a>
                    </div>

                    <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px" class="border border-2 border-black">
                        <a class="link-opacity-100-hover" href="#">
                            <p>- 제목</p>
                            <div style="padding-left: 15px">
                                <span>날짜</span>
                                <span>인원 수</span>
                                <span>장소</span>
                                <span>스크랩</span>
                            </div>
                        </a>
                    </div>

                    <div style="text-align: center">
                        <button style="margin-top: 10px" class="button" type="button" href="#">더 보기</button>
                    </div>
                </div>
                <div class="container my-3">
                    <h4 style="text-align: center; padding-top: 15px; padding-bottom: 15px" class="mb-3 border border-2 border-black">택시 파티</h4>
                    <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px" class="border border-2 border-black">
                        <a class="link-opacity-100-hover" href="#">
                            <p>- 제목</p>
                            <div style="padding-left: 15px">
                                <span>날짜</span>
                                <span>인원 수</span>
                                <span>장소</span>
                                <span>스크랩</span>
                            </div>
                        </a>
                    </div>

                    <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px" class="border border-2 border-black">
                        <a class="link-opacity-100-hover" href="#">
                            <p>- 제목</p>
                            <div style="padding-left: 15px">
                                <span>날짜</span>
                                <span>인원 수</span>
                                <span>장소</span>
                                <span>스크랩</span>
                            </div>
                        </a>
                    </div>

                    <div style="text-align: center">
                        <button style="margin-top: 10px" class="button" type="button" href="#">더 보기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>