<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<div layout:fragment="content" class="container py-5">
    <div class="input-form-background row">
        <div class="input-form col-md-12 mx-auto">

            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                    <img th:src="@{/img/profile/2.png}" width="70px" style="display: inline">
                    <h4 style="display: inline; margin-left: 5px;">하이</h4>
                    <img th:src="@{/img/yellow.png}" width="33px" style="margin-left: 5px;">
                </div>
                <div style="font-size: 50px;">
                    <span>♡</span>
                </div>
            </div>

            <a style="display: inline">지금까지 완료한 파티 수: </a><span>6</span>
            <br><br>

            <div style="text-align: center; padding-top: 15px; padding-bottom: 15px; background-color: white; border-radius: 5px; border-width: 3px; font-size: 18px;  font-weight:bold;"
                 class="mb-3 border border-2">
                <h3><strong th:text="${detail.title}"></strong></h3>
                <hr>
                <div style="font-weight: normal">
                    <div>
                        <span>상태 : </span><span th:text="${detail.status}"></span>
                    </div>
                    <div>
                        <span>작성자 : </span><span th:text="${detail.owner}"></span>
                    </div>
                    <div>
                        <span>장소 : </span><span>기흥역</span>
                    </div>
                    <div>
                        <span>인원수 : </span><span>4명</span>
                    </div>
                    <br>
                    <div>
                        <span th:text="${detail.content}"></span>
                    </div>
                    <br>
                    <div style="text-align: right; margin-right: 10px; font-size: 15px; color: #6c757d" >
                        <span>작성일 : </span><span th:text="${#temporals.format(detail.dateTime, 'yyyy-MM-dd')}"></span>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row2">
                <input type="text" name="comment" class="form-control" id="comment"
                       placeholder="댓글을 입력해주세요." style="width: 550px" value="" required>
                <button class="button" type="button" style="margin-left: 15px;">확인</button>
            </div>
            <br>

            <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%;">
                <img th:src="@{/img/profile/1.png}" width="40px" style="display: inline">
                <h5 style="display: inline; margin-left: 5px;"><strong>안녕</strong></h5>
                <img th:src="@{/img/red.png}" width="25px" style="margin-right: auto;">
                <h5>&nbsp</h5>
                <div style="flex-grow: 1; text-align: center; padding: 5px; background-color: rgba(193, 176, 239, 0.97); border-radius: 5px; border-width: 3px; font-size: 18px; margin-top: 5px;"
                     class="mb-3 border border-2">
                    지금 도착했어요!
                </div>
            </div>

            <div style="display: flex; justify-content: flex-end; align-items: center; width: 100%;">
                <img th:src="@{/img/profile/2.png}" width="40px" style="display: inline">
                <h5 style="display: inline; margin-left: 5px;"><strong>하이</strong></h5>
                <img th:src="@{/img/yellow.png}" width="25px" style="margin-right: auto;">
                <h5>&nbsp</h5>
                <div style="flex-grow: 1; text-align: center; padding: 5px; background-color: white; border-radius: 5px; border-width: 3px; font-size: 18px; margin-top: 5px;"
                     class="mb-3 border border-2">
                    3명 남았습니다!
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/signup.js}"></script>
</div>
</html>
