<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<body>
<div class="container py-5" layout:fragment="content">
    <div class="input-form-background row">
        <div class="party-list col-md-12 mx-auto">
            <h4 style="text-align: center;" class="mb-3">파티 현황</h4>
            <div class="mb-3" style="text-align: center;">
                <form th:action="@{/party/search}" method="get">
                    <input type="text" name="query" placeholder="검색..." class="form-control" style="display: inline-block; width: 70%;">
                    <button type="submit" class="button">검색</button>
                </form>
            </div>
            <div style="display: flex; justify-content: space-between; margin-left: 17px; margin-right: 17px">
                <div th:each="party, iterStat : ${parties}" style="margin-left: 17px; margin-right: 17px">
                    <form th:action="@{/party/search}" method="get">
                        <button class="button4" name="category" style="text-align: center" th:value="${party.category}"></button>
                    </form>
                </div>
            </div>
            <div th:each="row : ${#numbers.sequence(0, 3)}" class="row">
                <div th:each="party, iterStat : ${parties}" class="col-md-6"
                     th:if="${iterStat.index >= row * 2} and ${iterStat.index < (row + 1) * 2}">
                    <div class="container my-3">
                        <h4 style="text-align: center; padding-top: 15px; padding-bottom: 15px; background-color: rgba(193, 176, 239, 0.97); border-radius: 5px; border-width: 3px"
                            class="mb-3 border border-2" th:text="${party.category}"></h4>
                        <div style="white-space: nowrap; overflow: hidden; margin-top: 10px; padding: 10px; border-radius: 5px"
                             class="border border-2 border-black">
                            <a class="link-opacity-100-hover" th:href="@{/party/{id}(id=${party.id})}">

                            <span style="font-weight: bold; padding-top: 10px; padding-left: 15px" th:text="${party.title}"></span>
                                <hr>
                                <div style="padding-left: 15px">
                                    <div>
                                        <div>
                                            <span>작성일 : </span><span th:text="${#temporals.format(party.dateTime, 'MM-dd HH:mm:ss')}"></span>
                                        </div>
                                        <div>
                                            <span>장소 : </span><span>경기도 용인시</span>
                                        </div>
                                        <div>
                                            <span>인원수 : </span><span>1명</span>
                                        </div>
                                        <div style="display: flex; justify-content: right">
                                            <span th:text="${party.status.value}"></span>
                                        </div>
                                        <div style="display: flex; justify-content: right; margin-right: 15px">
                                            <span>♡</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <ul class="pagination justify-content-center">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a class="page-link" th:href="@{/party?page=__${currentPage}__}">이전</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, totalPages)}" class="page-item"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/party?page=__${i}__}" th:text="${i + 1}"></a>
                    </li>
                    <li th:if="${currentPage + 1 < totalPages}" class="page-item">
                        <a class="page-link" th:href="@{/party?page=__${currentPage+1}__}">다음</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
