<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<div layout:fragment="content" class="container py-5">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto">
      <h4 style="text-align: center;" class="mb-3">새로운 파티</h4>
      <br>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="party">파티명</label>
            <input type="party" class="form-control" id="party" required>
            <div class="invalid-feedback">
              파티명을 입력해주세요.
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="input-group mb-3" id="partyType" required>
            <form action="#">
              <label for="partyType">파티유형</label>
              <select name="파티유형" id="type">
                <option value="택시팟">택시팟</option>
                <option value="영화팟">영화팟</option>
                <option value="헬스팟">헬스팟</option>
                <option value="산책팟">산책팟</option>
                <option value="배달팟">배달팟</option>
                <option value="게임팟">게임팟</option>
                <option value="공부팟">공부팟</option>
                <option value="식사팟">식사팟</option>
                <option value="기타">기타</option>
              </select>
            </form>
          </div>
          <div class="invalid-feedback">
            인원수를 선택해주세요.
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="date">시간</label>
            <form>
              <p><input type="date" id="date" value="today"> <input type="time"></p>
            </form>
            <div class="invalid-feedback">
              날짜와 시간을 선택해주세요
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="input-group mb-3" id="people" required>
            <form action="#">
              <label for="people">인원수</label>
              <select name="인원수" id="number">
                <option value="제한없음">제한없음</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </form>
          </div>
          <div class="invalid-feedback">
            인원수를 선택해주세요.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="place">장소</label>
          <input type="place" class="form-control" id="place" required>
          <div class="invalid-feedback">
            장소를 입력해주세요.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="intro">소개</label>
          <input style="height: 100px; width: 500px;" type="intro" class="form-control" id="intro" required>
          <div class="invalid-feedback">
            소개를 입력해주세요.
          </div>
        </div>
      </div>

        <div style="text-align: center;">
          <button class="button" type="submit">등록 버튼</button>
        </div>

      </form>
    </div>
  </div>
  <footer class="my-3 text-center text-small">
    <p class="mb-1">&copy; Good-People-Good-Times</p>
  </footer>

  <script type="text/javascript" th:src="@{/js/signup.js}"></script>
</div>
</html>