<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<div layout:fragment="content" class="container py-5">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-5 mx-auto">
        <br>
        <div style="text-align: center"><img th:src="@{/img/character.png}"/></div>
        <br>

        <div class="row2">
          <div class="nickname">
            <p>닉네임: </p>
          </div>

          <div class="email">
            <p>이메일: </p>
          </div>

          <div class="password">
            <p>비밀번호: </p>
          </div>

          <div class="endparty">
            <p> 지금까지 완료한 파티 수: </p>
          </div>
        </div>

    </div>
  </div>

  <script type="text/javascript" th:src="@{/js/signup.js}"></script>
</div>
</html>
