<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<div layout:fragment="content" class="container py-5">
    <div class="input-form-background row">
        <div class="input-form col-md-5 mx-auto">
            <h4 style="text-align: center" class="mb-3">하이님의 프로필</h4>
            <br>
            <div style="text-align: center"><img th:src="@{/img/profile/2.jpg}" width="250px"/></div>
            <br>

            <div class="page" style="text-align: center">
                <div class="nickname">
                    <b>닉네임: </b><span>하이</span>
                    <img th:src="@{/img/yellow.png}" width="25px"/>
                </div>
                <br>
                <div class="endparty">
                    <b>지금까지 작성한 파티 수: </b><span>6</span>
                </div>
            </div>
            <br>
            <br>

            <div style="text-align: center; padding-top: 15px; padding-bottom: 15px; background-color: white; border-radius: 5px; border-width: 3px; font-size: 18px;  font-weight:bold;"
                class="mb-3 border border-2">
                작성한 파티
                <hr>
                <div th:each="party : ${myPartyList}" style="font-weight:normal; font-size: 15px;">
                    <div>
                        <a th:href="@{/party/{partyId}(partyId=${party.partyId})}">
                            <span>제목 : </span><span th:text="${party.title}"></span>
                            <span>/ 상태 : </span><span th:text="${party.status.value}"></span>
                            <br>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/signup.js}"></script>
</div>
</html>

