<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<body>
<div layout:fragment="content" class="container py-5">
  <div class="input-form-background row">
    <div class="input-form col-md-12 mx-auto">
      <div class="container my-3">
        <h4  style="text-align: center">공지등록</h4>
        <form th:action="@{/notice/notice_form}" method="POST">
          <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" name="text" id="subject" class="form-control" >
          </div>
          <br>
          <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
          </div>

          <input type="submit" value="저장하기" class="button" style="float: right;">
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>