<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<body>
<div layout:fragment="content" class="container py-5">
    <div class="input-form-background row">
        <div class="input-form col-md-12 mx-auto">
            <div class="container my-3">
                <h4 style="text-align: center;" class="mb-3">공지사항</h4>
                <table class="table">
                    <thead class="bg-dark text-white bg-opacity-75">
                    <tr style="text-align: center">
                        <th class="border border-2 border-secondary-subtle">번호</th>
                        <th class="border border-2 border-secondary-subtle">제목</th>
                        <th class="border border-2 border-secondary-subtle">작성일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice, loop : ${questionList}">
                        <td th:text="${notice.count}"></td>
                        <td>
                            <a th:href="@{|/notice/detail/${notice.id}|}" th:text="${notice.subject}"></a>
                        </td>
                        <td th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>