<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<div layout:fragment="content" class="container py-5">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto">
      <h4 style="text-align: center;" class="mb-3">비밀번호 재설정</h4>
      <br>
      <div>
      <div class="row5">
        <div class="col-md-6 mb-3">
          <br>
          <div>
          <label class="login_info" for="newpw">새로운 비밀번호</label>
          </div>
          <div>
            <br>
          <input type="text" class="form-control" minlength="2" id="newpw" value="" required>
          </div>
        </div>
      </div>
      </div>
      <div class="row4">
        <div class="col-md-6 mb-3">
          <div>
            <br>
          <label class="login_info" for="newpw2">비밀번호 확인</label>
          </div>
          <div>
            <br>
          <input type="text" class="form-control" minlength="2" id="newpw2" value="" required>
          </div>
        </div>
        <div class="button3">
          <div>
            <br>
            <br>
            <br>
          <button class="button" type="button">확인</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>