<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<div layout:fragment="content" class="container py-5">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 style="text-align: center;" class="mb-3">이메일 찾기</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <br>
                    <label for = "nickname">닉네임</label>
                    <input type="nickname" class="form-control" id="nickname" required>
                    <div class="invalid-feedback">
                        닉네임을 입력해주세요.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <br>
                    <br>
                    <button class="button" type="button">확인</button>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="phonenumber">휴대전화</label>
                    <input type="phonenumber" class="form-control" id="phonenumber"
                           placeholder="010-0000-0000" required>
                    <div class="invalid-feedback">
                        휴대전화를 입력해주세요
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <br>
                    <button class="button" type="button">PASS로 인증하기</button>
                    <div class="invalid-feedback">PASS 인증이 되지 않나요? </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>