:root {
    --text-color: #000000;
    --background-color: #ffffff;
    --accent-color: rgba(193, 176, 239, 0.97);
}

header {
    margin-top: -8px;
}

body {
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 19px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    color: var(--text-color);
    margin-block: 5px;
    margin-left: auto;
    margin-right: 20px;
}

.navbar_menu a {
    font-size: 19px;
    color: var(--text-color);
    margin: 0 10px;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: rgba(193, 176, 239, 0.97);
    border-radius: 4px;
}

.navbar_my {
    border-radius: 70%;
    overflow: hidden;
    padding-left: 0;
    margin-left: auto;
}

.navbar_my img {
    padding: 8px 12px
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu.active {
        display: flex;
    }
}

