body {
    min-height: 100vh;
    background-color: rgb(217, 214, 243);
}

.input-form {
    max-width: 680px;
    margin-top: 80px;
    padding: 32px;

    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.party-list {
    max-width: 900px;

    margin-top: 80px;
    padding: 32px;

    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.login_button {
    background-color: #9966FF;
    color: white;
    border-radius: 13%;
    border-color: #9966FF;
    border-width: 4px;
    width: 320px;
}

.button {
    background-color: #9966FF;
    color: white;
    border-radius: 13%;
    border-color: #9966FF;
    border-width: 4px;
}

.img_container {
    display : inline-block;
}

a:link {
    color : black;
    text-decoration: none;
}

a:visited {
    color : black;
    text-decoration: none;
}

a:hover {
    color : #5944BE;
    text-decoration: none;
}

a:active {
    color: #5944BE;
    text-decoration: none;
}

h4 {
    font-weight: bold;
}


.row1 {
    margin-left: 17%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.row2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.button2 {
    margin-left: 20px;
    margin-top: 3px;
    background-color: white;
    color: black;
    border-radius: 8%;
    border-color: black;
    border-width: 1px;
}

.login_info {
    font-weight: bolder;
}

.custom-control-label {
    font-weight: bolder;
}

.row3 {
    text-align: center;
}

.row4 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 7%;
}

.button3 {
    margin-left: 7%;
}

.row5 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 10%;
}

.img {
    display: block;
    max-width: 350px;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 50%;
}

.page-item.active .page-link {
    z-index: 1;
    color: #555;
    font-weight:bold;
    background-color: #f1f1f1;
    border-color: #ccc;
}

.page {
    font-size: 18px;
    line-height: 180%;
}

.button4 {
    background-color: rgba(193, 176, 239, 0.97);
    color: white;
    border-radius: 5px;
    border-color: white;
}