body {
    min-height: 100vh;
    background: linear-gradient(#9966FF, #c5d7f2);
}

.input-form {
    max-width: 680px;

    margin-top: 80px;
    padding: 32px;

    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.button {
    background-color: #9966FF;
    color: white;
    border-radius: 13%;
    border-color: #9966FF;
    border-width: 4px;
}

.img_container {
    display : inline-flex;
}