<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
</head>

<div layout:fragment="content" class="container py-5">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 style="text-align: center;" class="mb-3">비밀번호 찾기</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <br>
                    <label for="email">이메일은?</label>
                    <input type="email" class="form-control" id="email"
                           placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        이메일을 입력해주세요.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <br>
                    <br>
                    <button class="button" type="button">확인</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>